*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    
    
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box{
    width: 50%;
    height: 400px;
   
    justify-content: space-evenly;
    display: flex;
    color: white;

}
h2{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Big Shoulders Display', cursive;
} 
p{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px;
    text-align: left;

}
.btn{
    margin-left: 30px;
    margin-top: 40px;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
#b1{
    color: hsl(31, 77%, 52%);

}
#b2{
    color: hsl(184, 100%, 22%);

}
#b3{
    color: hsl(179, 100%, 13%);

}
.icon{
    margin: 10px;
    padding: 10px;
    
}
.sedan{
    height: 400px;
    width: 250px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: left;
    background-color: hsl(31, 77%, 52%);

}

.suv{
    height: 400px;
    width: 250px;
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    height: 400px;
    width: 250px;
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
